body {
    padding-top: 30px;
    font-family: Arial;
    background-color: #FFD700;
    width: 500px;
    margin: auto;
    text-align: center;
}

p {
    font-size: 20px;
    color: white;
    display: block;
    margin: 5px;
}

#space {
    margin: auto;
    text-align:center;
    padding-top: 20px;
    margin-bottom: 5px;
    font-size: 30px;
    border:5px solid;
    border-radius:10px;
    background-color: greenyellow;
    color: white;
    width:389px;
    height:60px;
}


#numbers {
    margin: auto;
    text-align:center;
    padding-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    border:5px solid;
    border-radius:10px;
    background-color:white;
    width:200px;
    height:60px;
}

#
